@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash&display=swap');

body{
    background-image: url("https://wallpaperaccess.com/full/818876.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.container{
    height: 100vh;
}

.card{
    font-family: 'Berkshire Swash', cursive;
    font-size: x-large;
    margin-top: 50%;
    border-radius: 0.4em;
    opacity: 0.95;
    background-color: cornsilk;
    color: rgb(150,36,49);
    height: fit-content;
}

.card-title{
    font-size: xx-large;
}

.card-subtitle{
    font-size: large;
}

.responseoption {
    margin: 0.7em;
}